<ul class="list-unstyled">
    <li class="media mb-3">
      <div class="media-body">
      <div>
         <%= render 'microposts/microposts', microposts: @likes %>
      </div>
    </li>
  <%= paginate @likes %>
</ul>